[submodule "dot-vim/pack/lbakken/start/vim-erlang-compiler"]
	path = dot-vim/pack/lbakken/start/vim-erlang-compiler
	url = https://github.com/vim-erlang/vim-erlang-compiler.git
[submodule "dot-vim/pack/lbakken/start/vim-erlang-tags"]
	path = dot-vim/pack/lbakken/start/vim-erlang-tags
	url = https://github.com/vim-erlang/vim-erlang-tags.git
[submodule "kerl"]
	path = kerl
	url = https://github.com/kerl/kerl.git
[submodule "keychain"]
	path = keychain
	url = https://github.com/funtoo/keychain.git
[submodule "dot-vim/pack/lbakken/start/bats"]
	path = dot-vim/pack/lbakken/start/bats
	url = https://github.com/vim-scripts/bats.vim.git
[submodule "dot-vim/pack/lbakken/start/vim-elixir"]
	path = dot-vim/pack/lbakken/start/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "dot-vim/pack/lbakken/start/vim-colors-solarized"]
	path = dot-vim/pack/lbakken/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
